include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include examples *.py
recursive-include examples *.md
recursive-exclude examples *.pkl
recursive-exclude examples *.png
recursive-exclude examples *.jpg
